pandas
numpy
matplotlib
seaborn
wordcloud
tqdm
nltk
scikit-learn
requests
backoff
unicodedata2
Pillow
tensorflow
streamlit==1.45.1
sentence-transformers==2.2.2
transformers==4.30.0
torch==2.0.1
pickle5
